<div class="login-form">
  <form [formGroup]="loginForm" (submit)="onSubmit($event)">
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input
        type="email"
        autofocus
        [class]="validProperty('email')"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        formControlName="email"
        placeholder="Enter email"
      />
      <div class="invalid-feedback">{{ this.displayFeedback.email }}</div>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input
        type="password"
        formControlName="password"
        [class]="validProperty('password')"
        id="exampleInputPassword1"
        placeholder="Password"
      />
      <div class="invalid-feedback">{{ this.displayFeedback.password }}</div>
    </div>

    <a href="#" [routerLink]="['', 'signup']">Register</a>
    <button type="submit" class="btn btn-primary">Login</button>
  </form>
</div>

<!-- <app-error [errorMessage]="errorMessage"></app-error> -->
<!-- <div -->
<!--   aria-live="polite" -->
<!--   aria-atomic="true" -->
<!--   class="bg-dark position-relative bd-example-toasts" -->
<!-- > -->
<!--   <div class="toast-container position-absolute p-3" id="toastPlacement"> -->
<!--     <div class="toast"> -->
<!--       <div class="toast-header"> -->
<!--         <img src="..." class="rounded me-2" alt="..." /> -->
<!--         <strong class="me-auto">Bootstrap</strong> -->
<!--         <small>11 mins ago</small> -->
<!--       </div> -->
<!--       <div class="toast-body">Hello, world! This is a toast message.</div> -->
<!--     </div> -->
<!--   </div> -->
<!-- </div> -->

<!-- <div class="toast" role="alert" aria-live="assertive" aria-atomic="true"> -->
<!--   <div class="toast-header"> -->
<!--     <img src="..." class="rounded me-2" alt="..." /> -->
<!--     <strong class="me-auto">Bootstrap</strong> -->
<!--     <small>11 mins ago</small> -->
<!--     <button -->
<!--       type="button" -->
<!--       class="btn-close" -->
<!--       data-bs-dismiss="toast" -->
<!--       aria-label="Close" -->
<!--     ></button> -->
<!--   </div> -->
<!--   <div class="toast-body">Hello, world! This is a toast message.</div> -->
<!-- </div> -->
