<div class="card">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <ng-container *ngFor="let chatTab of chatTabs"
        ><li class="nav-item">
          <a
            [class]="
              'nav-link ' + (selectedChatTab === chatTab ? 'active' : '')
            "
            [routerLink]="getNavLink(chatTab)"
            >{{ chatTab }}</a
          >
        </li></ng-container
      >
    </ul>
  </div>
  <div class="card-body">
    <router-outlet></router-outlet>
  </div>
</div>
