.card {
  width: 400px;
  height: 600px;
}
a {
  cursor: pointer;
}

.card-body {
  overflow-y: auto;
}

#suggestions {
  position: absolute;
  width: 400px;
  z-index: 100;
  top: 106px;

  .list-group-item {
    color: black;
    cursor: pointer;
  }
}
