<div class="card" *ngIf="!fullSize">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <ng-container *ngFor="let chatTab of chatTabs"
        ><li class="nav-item">
          <a
            (click)="onSelectTab(chatTab)"
            [class]="
              'nav-link ' + (selectedChatTab.id === chatTab.id ? 'active' : '')
            "
            >{{ chatTab.name }}
            <i
              *ngIf="chatTab.id !== null"
              (click)="deleteTab(chatTab)"
              [class]="ICONS.cancel.class"
            ></i>
          </a>
        </li>
      </ng-container>
    </ul>
  </div>
  <div class="card-body">
    <div
      class="d-flex flex-column justify-content-start"
      *ngIf="selectedChatTab.id === null"
    >
      <div class="d-flex flex-column">
        <div class="input-group mb-3">
          <input
            type="text"
            class="form-control"
            [(ngModel)]="searchBoxInput"
            (ngModelChange)="onSearchBoxChange()"
            (focus)="onFocus()"
            (keydown.enter)="searchEmployees()"
            placeholder="Search"
            aria-label=""
          />
          <div class="input-group-prepend">
            <button
              class="btn btn-outline-secondary"
              type="button"
              (click)="searchEmployees()"
            >
              <i [class]="ICONS.search.class"></i>
            </button>
          </div>
        </div>
        <ul class="list-group" id="suggestions">
          <li
            class="list-group-item list-group-item-action list-group-item-dark"
            (click)="addingChatTab(suggestion)"
            *ngFor="let suggestion of suggestions"
          >
            {{ suggestion.name }}
          </li>
        </ul>
      </div>

      <app-chat-box (addChatBox)="addingChatTab($event)"></app-chat-box>
      <!-- <app-chat-box -->
      <!--   [style.width.px]="400" -->
      <!--   (addChatBox)="addingChatTab($event)" -->
      <!-- ></app-chat-box> -->
    </div>
    <!-- <app-chat-box -->
    <!--   *ngIf="selectedChatTab.id === null" -->
    <!--   (addChatBox)="addingChatTab($event)" -->
    <!-- ></app-chat-box> -->
    <app-chat-message
      *ngIf="selectedChatTab.id !== null"
      [senderId]="selectedChatTab.id!"
    ></app-chat-message>
  </div>
</div>

<div class="card" [style.width.px]="800" *ngIf="fullSize">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <ng-container *ngFor="let chatTab of chatTabs"
        ><li class="nav-item">
          <a
            (click)="onSelectTab(chatTab)"
            [class]="
              'nav-link ' + (selectedChatTab.id === chatTab.id ? 'active' : '')
            "
            >{{ chatTab.name }}
            <i
              *ngIf="chatTab.id !== null"
              (click)="deleteTab(chatTab)"
              [class]="ICONS.cancel.class"
            ></i>
          </a>
        </li>
      </ng-container>
    </ul>
  </div>
  <div class="card-body d-flex justify-content-between container-fuild">
    <div class="d-flex flex-column justify-content-start">
      <div class="d-flex flex-column">
        <div class="input-group mb-3">
          <input
            type="text"
            class="form-control"
            [(ngModel)]="searchBoxInput"
            (ngModelChange)="onSearchBoxChange()"
            (focus)="onFocus()"
            (keydown.enter)="searchEmployees()"
            placeholder="Search"
            aria-label=""
          />
          <div class="input-group-prepend">
            <button
              class="btn btn-outline-secondary"
              type="button"
              (click)="searchEmployees()"
            >
              <i [class]="ICONS.search.class"></i>
            </button>
          </div>
        </div>
        <ul class="list-group" id="suggestions">
          <li
            class="list-group-item list-group-item-action list-group-item-dark"
            (click)="addingChatTab(suggestion)"
            *ngFor="let suggestion of suggestions"
          >
            {{ suggestion.name }}
          </li>
        </ul>
      </div>
      <app-chat-box
        [style.width.px]="400"
        (addChatBox)="addingChatTab($event)"
      ></app-chat-box>
    </div>
    <div
      [style.width.px]="400"
      *ngIf="selectedChatTab.id === null"
      class="d-flex justify-content-center align-items-center container-fuild"
    >
      <i [style.font-size.px]="200" [class]="ICONS.chatWith.class"></i>
    </div>
    <app-chat-message
      *ngIf="selectedChatTab.id !== null"
      [style.width.px]="400"
      [senderId]="selectedChatTab.id!"
    ></app-chat-message>
  </div>
</div>
