<th
  scope="row"
  (click)="navigate()"
  class="pointer"
  *ngIf="userAllowedToView('sNo')"
>
  <span *ngIf="!isLoading">{{ sno }}</span>
  <span *ngIf="isLoading" class="placeholder col-8"></span>
</th>

<td
  class="todo-title"
  (click)="navigate()"
  class="pointer"
  *ngIf="userAllowedToView('Title')"
>
  {{ todo.title }}
</td>
<td
  class="todo-description pointer"
  (click)="navigate()"
  *ngIf="userAllowedToView('Description')"
>
  <p placement="top" ngbTooltip="view in detail" [openDelay]="1000">
    {{ getDescription(todo.description) }}
  </p>
</td>
<td
  class="todo-isCompeleted pointer"
  (click)="navigate()"
  *ngIf="userAllowedToView('IsCompleted') && todoTab === TodoTab.All"
>
  {{ todo.isCompleted }}
</td>
<td
  class="todo-assignedTo pointer"
  (click)="navigate()"
  *ngIf="userAllowedToView('AssignedTo')"
>
  {{ todo.employeeName ? todo.employeeName : "None" }}
</td>
<td
  class="todo-assignedBy pointer"
  (click)="navigate()"
  *ngIf="userAllowedToView('AssignedBy')"
>
  {{ todo.assignBy === 1 ? "admin" : "super admin" }}
</td>
<td *ngIf="userAllowedToView('Actions')">
  <div
    class="d-flex justify-content-between container-fuild align-items-center"
    *ngIf="allowedToView([UserRole.Admin, UserRole.SuperAdmin])"
  >
    <div appHighlight (highlight)="onHighlight('edit', $event)">
      <i
        [class]="highlight.edit ? ICONS.editFilled.class : ICONS.edit.class"
        (click)="update()"
        [ngbTooltip]="ICONS.edit.toolTip"
        [openDelay]="ICONS.edit.openDelay"
        [closeDelay]="ICONS.edit.closeDelay"
      >
      </i>
    </div>

    <i
      appHighlight
      (highlight)="onHighlight('delete', $event)"
      [class]="highlight.delete ? ICONS.deleteFilled.class : ICONS.delete.class"
      (click)="delete()"
      [ngbTooltip]="ICONS.delete.toolTip"
      [openDelay]="ICONS.delete.openDelay"
      [closeDelay]="ICONS.delete.closeDelay"
      data-bs-toggle="modal"
      data-bs-target="#deleteConfirmation"
    >
    </i>
  </div>

  <div
    class="d-flex justify-content-center container-fuild align-items-center"
    *ngIf="allowedToView([UserRole.Employee])"
  >
    <i
      *ngIf="!todo.isCompleted"
      [class]="ICONS.active.class"
      (click)="mark()"
      [ngbTooltip]="ICONS.active.toolTip"
      [openDelay]="ICONS.active.openDelay"
      [closeDelay]="ICONS.active.closeDelay"
    ></i>
    <i
      *ngIf="todo.isCompleted"
      [class]="ICONS.done.class"
      (click)="mark()"
      [ngbTooltip]="ICONS.done.toolTip"
      [openDelay]="ICONS.done.openDelay"
      [closeDelay]="ICONS.done.closeDelay"
    ></i>
    <!-- <button class="btn btn-sm btn btn-primary" (click)="mark()"> -->
    <!--   {{ !todo.isCompleted ? "Mark as Done" : "Mark as UnDone" }} -->
    <!-- </button> -->
  </div>
</td>
