.pointer {
  cursor: pointer;
}
td {
  vertical-align: middle;
}
th {
  vertical-align: middle;
}

.todo-description p {
  margin: auto 0px;
  padding: 0px;
}

i {
  cursor: pointer;
  font-size: 1.5em;
}
.admin-actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  margin: auto;
}
