<th scope="row" (click)="navigate()" class="pointer">{{ sno }}</th>
<td class="todo-title" (click)="navigate()" class="pointer">
  {{ todo.title }}
</td>
<td class="todo-description pointer" (click)="navigate()">
  <p placement="top" ngbTooltip="view in detail" [openDelay]="300">
    {{ getDescription(todo.description) }}
  </p>
</td>
<td class="todo-isCompeleted pointer" (click)="navigate()">
  {{ todo.isCompleted }}
</td>
<td class="todo-assignedTo pointer" (click)="navigate()">
  {{ todo.employeeId }}
</td>
<td>
  <div
    class="d-flex justify-content-between container-fuild align-items-center"
  >
    <button class="btn btn-warning btn-sm" (click)="update()">update</button>
    <button
      type="button"
      class="btn btn-sm btn-danger"
      (click)="delete()"
      data-bs-toggle="modal"
      data-bs-target="#deleteConfirmation"
    >
      delete
    </button>
  </div>
</td>
