<app-navbar></app-navbar>
<div
  class="dashboard-body d-flex justify-content-around flex-row align-items-center container-fluid"
>
  <app-spinner *ngIf="isLoading"></app-spinner>
  <ng-container *ngIf="!isLoading">
    <app-dashboard-detail-card
      *ngFor="let card of cards | userViewDashboardDetail: userType"
      [count]="card.count"
      [description]="card.description"
      [title]="card.title"
      [cardLinks]="card.cardLinks"
    ></app-dashboard-detail-card>
  </ng-container>
</div>
