<div class="spinner-border" role="status" *ngIf="isLoading">
  <span class="visually-hidden">Loading...</span>
</div>

<h5 class="text-center" *ngIf="!isLoading && employees.length === 0">
  No Employees Here
</h5>
<table class="table table-hover" *ngIf="!isLoading && employees.length !== 0">
  <thead>
    <tr app-employee-list-header (clicked)="onClicked($event)"></tr>
  </thead>
  <tbody>
    <tr
      *ngFor="let employee of employees; let i = index"
      app-employee
      [employee]="employee"
      [sno]="i + 1"
      (deleteEmployee)="delete($event)"
      (viewEmployeeByDepartment)="onViewEmployeesByDepartment($event)"
      (assignTask)="onAssignTask($event)"
    ></tr>
  </tbody>
</table>
<app-pagination
  *ngIf="!isLoading"
  [(selectedPage)]="pageState.index"
  (pageChange)="onPageChange({ index: $event })"
  [collectionSize]="totalPagesCount"
  [selectedPaginatedSize]="pageState.take"
  (selectedPaginatedSizeChange)="onPageChange({ take: $event })"
/>

<app-confirmation-modal
  (confirmation)="confirm($event)"
></app-confirmation-modal>
