<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="[this.getCurrentPath()]"
      >TaskManagement</a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li
          class="nav-item"
          *ngFor="
            let navLink of navLinks | userViewNavLinks: userType;
            let i = index
          "
        >
          <a
            href="#"
            [routerLink]="navLink.path"
            [class]="processClass(i)"
            routerLinkActive="active"
            >{{ navLink.name }}</a
          >
        </li>
      </ul>
      <div class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          {{ userType }}
        </a>
        <ul class="dropdown-menu">
          <li *ngFor="let profileLink of profileLinks">
            <a
              href="#"
              class="dropdown-item"
              (click)="handleProfileLinks($event, profileLink.name)"
              >{{ profileLink.name }}</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
