<div class="d-flex justify-content-center align-items-center flex-column">
  <div class="d-flex justify-content-between align-items-center">
    <div class="input-group mb-3">
      <button class="btn btn-primary" (click)="onSearch()">Search</button>
      <input
        type="text"
        class="form-control"
        placeholder="Username"
        aria-label="Username"
        aria-describedby="basic-addon1"
        [(ngModel)]="searchBox"
        [placeholder]="searchBoxPlaceholder"
        (keydown)="onSearch($event)"
      />
    </div>
  </div>
</div>
<button class="btn btn-primary btn-sm" (click)="onCreateRow()">
  {{ createRowLabel }}
</button>
