:host {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  position: relative;
}

.list-group {
  overflow-y: auto;
}
#scrollContainer {
  transition: all 0.3s ease; /* Adjust the duration and easing function as needed */
}

form {
  position: sticky;
  bottom: 0px;
}

a {
  cursor: pointer;
}
i {
  cursor: pointer;
}
i {
  padding-right: 5px;
}
#dateChip {
  background: white;
  width: max-content;
  margin: auto;
  position: sticky;
  top: 0px;
  color: black;
  border: 1px solid;
  z-index: 100;
}

#scrollToDown {
  position: absolute;
  right: 20px;
  bottom: 80px;
  font-size: 25px;
  z-index: 100;
  background: white;
}
