<div
  class="list-group"
  *ngIf="!isLoading"
  #scrollContainer
  id="scrollContainer"
  (scroll)="onScroll()"
  [scrollTop]="
    toBottom ? scrollContainer.scrollHeight : scrollContainer.scrollTop
  "
>
  <!-- [scrollTop]="scrollContainer.scrollHeight" -->
  <!-- [scrollTop]="once ? scrollContainer.scrollHeight : scrollContainer.scrollTop" -->
  <ng-container
    *ngFor="let message of messages; trackBy: trackById; let i = index"
  >
    <span
      id="dateChip"
      class="badge badge-pill badge-dark"
      *ngIf="renderDateChip(i, messages)"
      >{{
        message.messageDate
          | date: "EEEE, MMMM d, y" : "ISO"
          | date: "EEEE, MMMM d, y" : "IST"
      }}</span
    >
    <a
      *ngIf="!isLoggedInUserMessage(message); else senderMessage"
      [class]="
        'list-group-item list-group-item-action flex-column align-items-start ' +
        'text-right'
      "
    >
      <div [class]="'d-flex w-100 justify-content-' + 'between'">
        <small>{{ message.messageDate | momentTime }}</small>

        <small
          ><i
            *ngIf="idToBeDeleted !== message.id"
            (click)="deleteMessage(message.id)"
            [class]="ICONS.delete.class"
          ></i>
          <div
            *ngIf="idToBeDeleted === message.id"
            class="spinner-border spinner-border-sm"
            role="status"
          ></div>
        </small>
      </div>
      <p class="mb-1" [class]="'d-flex w-100 justify-content-' + 'start'">
        {{ message.message }}
      </p>
      <small [class]="'d-flex w-100 justify-content-' + 'end'">{{
        message.name
      }}</small>
    </a>

    <ng-template #senderMessage>
      <a
        [class]="
          'list-group-item list-group-item-action flex-column align-items-start ' +
          'text-left'
        "
      >
        <div
          [class]="'d-flex flex-row-reverse w-100 justify-content-' + 'between'"
        >
          <small>{{ message.messageDate | momentTime }}</small>
          <small
            ><i
              *ngIf="idToBeDeleted !== message.id"
              (click)="deleteMessage(message.id)"
              [class]="ICONS.delete.class"
            ></i>
            <div
              *ngIf="idToBeDeleted === message.id"
              class="spinner-border spinner-border-sm"
              role="status"
            ></div>
          </small>
        </div>
        <p class="mb-1" [class]="'d-flex w-100 justify-content-' + 'end'">
          {{ message.message }}
        </p>

        <div class="d-flex align-items">
          <small>
            <i
              [class]="message.isSeen ? ICONS.seen.class : ICONS.notSeen.class"
            ></i>
          </small>
          <small [class]="'d-flex w-100 justify-content-' + 'start'">{{
            message.name
          }}</small>
        </div>
      </a>
    </ng-template>
  </ng-container>
  <i
    [class]="ICONS.scrollDown.class"
    id="scrollToDown"
    (click)="onScrollToDown()"
  ></i>
</div>
<form [formGroup]="chatForm" appClickedEnter (click)="sendMessage()">
  <div class="input-group mb-3" [tabIndex]="0">
    <input
      type="text"
      class="form-control"
      [autofocus]="true"
      formControlName="message"
      aria-label="Text input with segmented dropdown button"
      [(ngModel)]="senderMessage"
      placeholder="Send Message"
      (keydown.enter)="sendMessage()"
    />
    <div *ngIf="senderMessage !== ''" class="input-group-prepend">
      <button type="submit" class="btn btn-outline-secondary">
        <i class="bi bi-send"></i>
      </button>
    </div>
  </div>
</form>
