:host {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  position: relative;
}

.list-group {
  overflow-y: auto;
}

form {
  position: sticky;
  bottom: 0px;
}

a {
  cursor: pointer;
}
i {
  cursor: pointer;
}
i {
  padding-right: 5px;
}

#scrollToDown {
  position: absolute;
  right: 20px;
  bottom: 80px;
  font-size: 25px;
  z-index: 100;
  background: white;
}
