<div
  class="list-group"
  *ngIf="!isLoading"
  #scrollContainer
  [scrollTop]="scrollContainer.scrollHeight"
>
  <ng-container *ngFor="let message of messages"
    ><a
      *ngIf="isLoggedInUserMessage(message); else recieverMessage"
      [class]="
        'list-group-item list-group-item-action flex-column align-items-start ' +
        'text-left'
      "
    >
      <div [class]="'d-flex w-100 justify-content-' + 'between'">
        <small>{{ message.messageDate | timeAgo }}</small>
        <small
          ><i
            (click)="deleteMessage(message.id)"
            [class]="ICONS.delete.class"
          ></i
        ></small>
      </div>
      <p class="mb-1" [class]="'d-flex w-100 justify-content-' + 'start'">
        {{ message.message }}
      </p>
      <small [class]="'d-flex w-100 justify-content-' + 'start'">{{
        message.name
      }}</small>
    </a>

    <ng-template #recieverMessage>
      <a
        [class]="
          'list-group-item list-group-item-action flex-column align-items-start ' +
          'text-right'
        "
      >
        <div
          [class]="'d-flex flex-row-reverse w-100 justify-content-' + 'between'"
        >
          <small>{{ message.messageDate | timeAgo }}</small>
          <small
            ><i
              (click)="deleteMessage(message.id)"
              [class]="ICONS.delete.class"
            ></i
          ></small>
        </div>
        <p class="mb-1" [class]="'d-flex w-100 justify-content-' + 'end'">
          {{ message.message }}
        </p>
        <small [class]="'d-flex w-100 justify-content-' + 'end'">{{
          message.name
        }}</small>
      </a>
    </ng-template>
  </ng-container>
</div>
<form [formGroup]="chatForm" appClickedEnter (click)="sendMessage()">
  <div class="input-group mb-3" [tabIndex]="1">
    <input
      type="text"
      class="form-control"
      [autofocus]="true"
      formControlName="message"
      aria-label="Text input with segmented dropdown button"
      [(ngModel)]="senderMessage"
      placeholder="Send Message"
    />
    <div *ngIf="senderMessage !== ''" class="input-group-prepend">
      <button type="submit" class="btn btn-outline-secondary">
        <i class="bi bi-send"></i>
      </button>
    </div>
  </div>
</form>
