form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 500px;
}

.signup-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signup-form input {
  margin: 5px 0px;
}
.submit {
  margin-top: 50px;
}

.signup-form button {
  margin: 10px auto;
  width: max-content;
}

.signup-form a {
  text-decoration-line: none;
  align-self: center;
  padding: 10px 0px;
}
