<div class="list-group" #scrollableDiv id="scrollableDiv" (scroll)="onScroll()">
  <div class="list-group-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item" *ngFor="let notificationTab of NotificationTabs">
        <a
          [class]="
            'nav-link pointer ' +
            (notificationTab === selectedNotificationTab ? 'active' : '')
          "
          (click)="onTabChange(notificationTab)"
          >{{ notificationTab }}</a
        >
      </li>
    </ul>
    <div
      class="list-group-item d-flex justify-content-center align-items-center container-fuild"
      id="markAsAllRead"
      *ngIf="selectedNotificationTab !== NotificationTab.Read"
    >
      <button class="btn btn-primary" (click)="markAllAsRead()">
        {{ select ? "Mark Select as Read" : "Select" }}
      </button>
      <!-- <div -->
      <!--   *ngIf="select" -->
      <!--   class="d-flex flex--reverse align-items container-fuild" -->
      <!-- > -->
      <!--   <i [class]="ICONS.cancel.class" (click)="clearSelectedIds()"></i> -->
      <!-- </div> -->
    </div>
  </div>
  <div
    *ngIf="isLoading"
    class="d-flex justify-content-center align-items-center"
  >
    <app-spinner *ngIf="isLoading"></app-spinner>
  </div>
  <ng-container *ngFor="let notification of notifications">
    <div
      class="list-group-item list-group-item-action flex-column align-items-start"
      *ngIf="!isLoading"
    >
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{ notification.title }}</h5>
        <small class="text-body-secondary">{{
          notification.created | timeAgo
        }}</small>
      </div>
      <div
        class="d-flex justify-content-between align-items-center container-fuild"
      >
        <p class="mb-1">{{ notification.message }}</p>
      </div>
      <div
        class="d-flex justify-content-between align-items-center container-fluid"
      >
        <small class="text-body-secondary"><a href="#">See todo</a></small>
        <button
          class="btn btn-primary btn-sm"
          (click)="markAsRead(notification.id)"
          *ngIf="!notification.isSeen && !select"
        >
          mark as read
        </button>
        <i
          *ngIf="!notification.isSeen && select"
          (click)="toggleSelectedIds(notification.id)"
          [class]="
            selectedIds.includes(notification.id)
              ? ICONS.done.class
              : ICONS.active.class
          "
        ></i>
      </div>
    </div>
  </ng-container>

  <div
    class="list-group-item list-group-item-action flex-column align-items-start"
    *ngIf="notifications && notifications.length === 0"
  >
    Nothing here
  </div>
</div>
