<div class="list-group">
  <div class="list-group-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item" *ngFor="let notificationTab of NotificationTabs">
        <a
          [class]="
            'nav-link pointer ' +
            (notificationTab === selectedNotificationTab ? 'active' : '')
          "
          (click)="onTabChange(notificationTab)"
          >{{ notificationTab }}</a
        >
      </li>
    </ul>
    <div
      class="list-group-item d-flex justify-content-center align-items-center container-fuild"
      id="markAsAllRead"
      *ngIf="selectedNotificationTab !== NotificationTab.Read"
    >
      <button class="btn btn-primary" (click)="markAllAsRead()">
        Mark all as read
      </button>
    </div>
  </div>
  <div
    class="list-group-item list-group-item-action flex-column align-items-start"
    *ngFor="let notification of notifications"
  >
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">{{ notification.title }}</h5>
      <small class="text-body-secondary">{{
        notification.created | timeAgo
      }}</small>
    </div>
    <div
      class="d-flex justify-content-between align-items-center container-fuild"
    >
      <p class="mb-1">{{ notification.message }}</p>
    </div>
    <div
      class="d-flex justify-content-between align-items-center container-fluid"
    >
      <small class="text-body-secondary"><a href="#">See todo</a></small>
      <button
        class="btn btn-primary btn-sm"
        (click)="markAsRead(notification.id)"
      >
        mark as read
      </button>
    </div>
  </div>
</div>
