.list-group-header {
  position: sticky;
  z-index: 100;
  top: 0px;
  background: white;
}

.pointer {
  cursor: pointer;
}

.list-group {
  height: 600px;
  overflow-y: auto;
  width: 500px;
}

i {
  cursor: pointer;
}
