<th scope="row">{{ sno }}</th>
<td class="admin-title">{{ admin.name }}</td>
<td class="admin-description">
  {{ admin.departmentName }}
</td>
<td class="admin-isCompeleted">{{ admin.email }}</td>
<td class="admin-assignedTo">{{ admin.phone }}</td>
<td>{{ admin.address }}</td>
<td>{{ admin.city }}</td>
<td>{{ admin.country }}</td>
<td *ngIf="allowedToView([UserRole.SuperAdmin], userType)">
  <div class="admin-actions">
    <i
      appHighlight
      (highlight)="onHighlight('edit', $event)"
      [class]="highlight.edit ? ICONS.editFilled.class : ICONS.edit.class"
      (click)="update()"
      [ngbTooltip]="ICONS.edit.toolTip"
      [openDelay]="ICONS.edit.openDelay"
      [closeDelay]="ICONS.edit.closeDelay"
    ></i>
    <i
      appHighlight
      (highlight)="onHighlight('delete', $event)"
      [class]="highlight.delete ? ICONS.deleteFilled.class : ICONS.delete.class"
      (click)="update()"
      (click)="delete()"
      data-bs-toggle="modal"
      data-bs-target="#deleteConfirmation"
      [ngbTooltip]="ICONS.delete.toolTip"
      [openDelay]="ICONS.delete.openDelay"
      [closeDelay]="ICONS.delete.closeDelay"
    >
    </i>
  </div>
</td>
