<th scope="row">{{ sno }}</th>
<td class="admin-title">{{ admin.name }}</td>
<td class="admin-description">
  {{ admin.departmentName }}
</td>
<td class="admin-isCompeleted">{{ admin.email }}</td>
<td class="admin-assignedTo">{{ admin.phone }}</td>
<td>{{ admin.address }}</td>
<td>{{ admin.city }}</td>
<td>{{ admin.country }}</td>
<td>
  <div class="admin-actions">
    <button class="btn btn-warning btn-sm" (click)="update()">update</button>
    <button
      type="button"
      class="btn btn-sm btn-danger"
      (click)="delete()"
      data-bs-toggle="modal"
      data-bs-target="#deleteConfirmation"
    >
      delete
    </button>
  </div>
</td>
