<th scope="row">{{ sno }}</th>
<td class="admin-title">{{ admin.name }}</td>
<td class="admin-description">
  {{ admin.departmentName }}
</td>
<td class="admin-isCompeleted">{{ admin.email }}</td>
<td class="admin-assignedTo">{{ admin.phone }}</td>
<td>{{ admin.address }}</td>
<td>{{ admin.city }}</td>
<td>{{ admin.country }}</td>
<td *ngIf="allowedToView([USER_ROLES.SuperAdmin], userType)">
  <div class="admin-actions">
    <i
      appHighlight
      (highlight)="onHighlight('edit', $event)"
      [class]="highlight.edit ? ICONS.editFilled : ICONS.edit"
      (click)="update()"
      ngbTooltip="edit"
      [openDelay]="1000"
      [closeDelay]="500"
    ></i>
    <i
      appHighlight
      (highlight)="onHighlight('delete', $event)"
      [class]="highlight.delete ? ICONS.deleteFilled : ICONS.delete"
      (click)="update()"
      (click)="delete()"
      data-bs-toggle="modal"
      data-bs-target="#deleteConfirmation"
      ngbTooltip="delete"
      [openDelay]="1000"
      [closeDelay]="500"
    >
    </i>
  </div>
</td>
