.frame-wrapper {
  position: absolute;
  border: 2px solid black;
}

.content-wrapper {
  position: absolute;
  background-color: lightblue;
  overflow: auto;
}

.top-bar-wrapper {
  width: 100%;
  height: 20px;
  background-color: black;
  cursor: move;
}

#close-frame {
  width: max-content;
  color: white;
  position: absolute;
  right: 2px;
  font-size: 14px;
  cursor: pointer;
}
