.frame-wrapper {
  z-index: 1000;
  position: absolute;
  border: 2px solid black;
}

.content-wrapper {
  position: absolute;
  background-color: lightblue;
  width: max-content;
  height: max-content;
}

.top-bar-wrapper {
  width: 100%;
  height: 20px;
  cursor: move;
}

#icon-container {
  gap: 5px;
  i {
    cursor: pointer;
  }
}
