<ng-container>
  <th scope="row">{{ sno }}</th>
  <td class="employee-title">{{ employee.name }}</td>
  <td class="employee-description">
    {{ employee.departmentName }}
  </td>
  <td class="employee-isCompeleted">{{ employee.email }}</td>
  <td class="employee-assignedTo">{{ employee.phone }}</td>
  <td>{{ employee.address }}</td>
  <td>{{ employee.city }}</td>
  <td>{{ employee.country }}</td>
  <td>
    <div
      class="d-flex justify-content-center container-fuild align-items-center"
    >
      <i
        appHighlight
        (highlight)="onHightlight($event)"
        [class]="highlight ? ICONS.deleteFilled : ICONS.delete"
        (click)="delete()"
        data-bs-toggle="modal"
        data-bs-target="#deleteConfirmation"
      >
      </i>
    </div>
  </td>
</ng-container>
