<div class="table-container">
  <div class="spinner-border" role="status" *ngIf="isLoading">
    <span class="visually-hidden">Loading...</span>
  </div>
  <div
    class="create-department d-flex justify-content-between align-items-center container-fluid"
    *ngIf="userType === UserRole.SuperAdmin && !isLoading"
  >
    <form [formGroup]="departmentForm">
      <div class="form-group">
        <input
          type="text"
          formControlName="departmentName"
          [class]="validProperty('departmentName')"
          id="departmentName"
          placeholder="Enter department name"
        />
        <div class="invalid-feedback">
          {{ displayFeedback.departmentName }}
        </div>
      </div>
    </form>
    <button class="btn btn-primary btn-sm" (click)="createDepartment()">
      Add Department
    </button>
  </div>
  <table class="table table-hover" *ngIf="!isLoading">
    <thead>
      <tr>
        <th scope="col">Sno</th>
        <th scope="col">Department</th>
        <th scope="col">Employees</th>
        <th scope="col" *ngIf="allowedToView([UserRole.SuperAdmin], userType)">
          Actions
        </th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let department of departments; let i = index"
        app-department
        [department]="department"
        [sNo]="i + 1"
        (updateDepartment)="updateDepartment($event)"
        (deleteDepartment)="deleteDepartment($event)"
        (employeesByDepartment)="onViewEmployeesByDepartment($event)"
        [userType]="userType"
      ></tr>
    </tbody>
  </table>
</div>

<app-confirmation-modal
  (confirmation)="confirm($event)"
></app-confirmation-modal>
