<div class="table-container">
  <div class="spinner-border" role="status" *ngIf="isLoading">
    <span class="visually-hidden">Loading...</span>
  </div>
  <table class="table table-hover" *ngIf="!isLoading">
    <thead>
      <tr>
        <th scope="col">Sno</th>
        <th scope="col">DepartmentName</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr class="create-department">
        <th scope="row">{{ departments.length + 1 }}</th>
        <td>
          <form [formGroup]="departmentForm">
            <div class="form-group">
              <input
                type="text"
                formControlName="departmentName"
                [class]="validProperty('departmentName')"
                id="departmentName"
                placeholder="Enter department name"
              />
              <div class="invalid-feedback">
                {{ this.displayFeedback.departmentName }}
              </div>
            </div>
          </form>
        </td>
        <td>
          <button
            class="btn btn-primary btn-sm"
            (click)="this.createDepartment()"
          >
            Add Department
          </button>
        </td>
      </tr>

      <tr *ngFor="let department of departments; let i = index">
        <th scope="row">{{ i + 1 }}</th>
        <td>
          {{ department.departmentName }}
        </td>
        <td>
          <div
            class="d-flex justify-content-between container-fuild align-items-center"
          >
            <button
              class="btn btn-sm btn-warning"
              (click)="updateDepartment(department.id)"
            >
              update
            </button>
            <button
              class="btn btn-danger btn-sm"
              (click)="deleteDepartment(department.id)"
            >
              delete
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
