form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.table {
  width: 500px;
  margin: auto;
  text-align: center;
}

.create-department {
  position: sticky;
  top: 40px;
}
