<div class="spinner-border" role="status" *ngIf="isLoading">
  <span class="visually-hidden">Loading...</span>
</div>

<div
  class="todo-list-top-button"
  *ngIf="!isLoading && allowedToView([USER_ROLES.Admin, USER_ROLES.SuperAdmin])"
  app-todo-list-controller
  [pageState]="pageState"
  [searchByCols]="searchByCols"
  [userType]="userType"
  (assignTask)="assignTo()"
  (pageStateChange)="onPageChange($event)"
  [totalPagesCount]="totalPagesCount"
></div>
<form [formGroup]="todoForm">
  <div class="form">
    <table class="table table-hover" *ngIf="!isLoading">
      <thead>
        <tr
          app-todo-list-header
          [cols]="cols"
          [userType]="userType"
          (clicked)="onClickedHeader($event)"
          (pageStateChange)="onPageChange($event)"
          [pageState]="pageState"
        ></tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let todo of todos; let i = index"
          app-todo
          [todo]="todo"
          [sno]="i + 1"
          (updateTodo)="updateTodo($event)"
          (deleteTodo)="deleteTodo($event)"
          (navigateTo)="navigateTo($event)"
          [userType]="userType"
          [isLoading]="isLoading"
        ></tr>
        <tr *ngIf="!(todos && todos.length !== 0)">
          <th [colSpan]="6">"Nothing Here"</th>
        </tr>
      </tbody>
    </table>
  </div>
</form>
<div class="d-flex flex-row-reverse">
  <app-todo-pagination
    [page]="pageState.index"
    (pageStateChange)="onPageChange($event)"
    [totalPagesCount]="totalPagesCount"
    [selectedPageSize]="pageState.take"
  ></app-todo-pagination>
</div>

<app-confirmation-modal
  (confirmation)="confirm($event)"
></app-confirmation-modal>
