.table {
  width: 1500px;
  margin: auto;
  text-align: center;
}
.scroll {
  overflow-y: auto;
  max-height: 600px;
}
.assign-task {
  position: sticky;
  top: 40px;
}
#title {
  width: 20%;
}
#description {
  width: 30%;
}
.todo-list-header {
  position: sticky;
  top: 0px;
  z-index: 100;
}

.todo-list-top-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: sticky;
  top: 40px;
  background: white;
}

.todo-list-navigation {
  position: sticky;
  bottom: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 20px auto;
}

.pointer {
  cursor: pointer;
}
