<div class="spinner-border" role="status" *ngIf="isLoading">
  <span class="visually-hidden">Loading...</span>
</div>
<!-- <app-spinner *ngIf="isLoading">isdf</app-spinner> -->

<div
  class="d-flex flex-row-reverse"
  *ngIf="!isLoading && allowedToView([USER_ROLES.Admin, USER_ROLES.SuperAdmin])"
>
  <button class="btn btn-primary btn-sm" (click)="assignTo()">
    Assign Task
  </button>
</div>
<form [formGroup]="todoForm" *ngIf="todos && todos.length !== 0">
  <div class="form">
    <table class="table table-hover" *ngIf="!isLoading">
      <thead>
        <tr>
          <th
            *ngFor="let col of cols | userViewCols: userType"
            scope="col"
            [id]="col.idName"
          >
            {{ col.name }}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let todo of todos; let i = index"
          app-todo
          [todo]="todo"
          [sno]="i + 1"
          (updateTodo)="updateTodo($event)"
          (deleteTodo)="deleteTodo($event)"
          (navigateTo)="navigateTo($event)"
          [userType]="userType"
        ></tr>
      </tbody>
    </table>
  </div>
</form>

<app-confirmation-modal
  (confirmation)="confirm($event)"
></app-confirmation-modal>
