.input-row-d {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}
form {
  display: flex;
  border: 1px solid black;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.table {
  width: 1500px;
  margin: auto;
  text-align: center;
}

.assign-task {
  position: sticky;
  top: 40px;
}

#title {
  width: 20%;
}
#description {
  width: 30%;
}
