<div class="spinner-border" role="status" *ngIf="isLoading">
  <span class="visually-hidden">Loading...</span>
</div>
<form [formGroup]="adminForm" *ngIf="!isLoading">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Sno</th>
        <th scope="col">Name</th>
        <th scope="col">Department</th>
        <th scope="col">Email</th>
        <th scope="col">Phone</th>
        <th scope="col">Address</th>
        <th scope="col">City</th>
        <th scope="col">Country</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td colspan="9">
          <button class="btn btn-primary" (click)="createAdmin()">
            Create Admin
          </button>
        </td>
      </tr>
      <!-- <tr class="create-admin"> -->
      <!--   <th scope="row">{{ admins.length + 1 }}</th> -->
      <!--   <td> -->
      <!--     <form [formGroup]="adminForm"> -->
      <!--       <div class="form-group"> -->
      <!--         <input -->
      <!--           type="text" -->
      <!--           formControlName="adminName" -->
      <!--           [class]="validProperty('adminName')" -->
      <!--           id="adminName" -->
      <!--           placeholder="Enter admin name" -->
      <!--         /> -->
      <!--         <div class="invalid-feedback"> -->
      <!--           {{ this.displayFeedback.adminName }} -->
      <!--         </div> -->
      <!--       </div> -->
      <!--     </form> -->
      <!--   </td> -->
      <!--   <td> -->
      <!--     <button -->
      <!--       class="btn btn-primary btn-sm" -->
      <!--       (click)="this.createadmin()" -->
      <!--     > -->
      <!--       Add admin -->
      <!--     </button> -->
      <!--   </td> -->
      <!-- </tr> -->
      <tr
        *ngFor="let admin of admins; let i = index"
        app-admin
        [admin]="admin"
        [sno]="i + 1"
        (deleteAdmin)="delete($event)"
        (updateAdmin)="update($event)"
      ></tr>
    </tbody>
  </table>
</form>

<app-confirmation-modal
  (confirmation)="confirm($event)"
></app-confirmation-modal>
