<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">
    {{ getTitle() }}
  </h4>
</div>
<div class="modal-body">
  <ng-container [ngSwitch]="componentName">
    <app-upsert-todo
      *ngSwitchCase="COMPONENT_NAME.UPSERT_TODO_COMPONENT"
      [updateForm]="update"
      [id]="id"
      (updated)="closeModal()"
    ></app-upsert-todo>
    <app-upsert-admin
      *ngSwitchCase="COMPONENT_NAME.UPSERT_ADMIN_COMPONENT"
      [updateForm]="update"
      [id]="id"
    ></app-upsert-admin>
    <app-todo-detail
      *ngSwitchCase="COMPONENT_NAME.TODO_DETAIL_COMPONENT"
      [id]="id"
      (edit)="onEdit($event)"
    ></app-todo-detail>
    <div *ngSwitchDefault="">NOT MATCH ANY</div>
  </ng-container>
</div>
<div class="modal-footer">
  <ng-container *ngIf="componentName !== COMPONENT_NAME.TODO_DETAIL_COMPONENT">
    <button class="btn btn-primary btn-sm" (click)="onReset()" *ngIf="update">
      reset
    </button>
  </ng-container>
  <button class="btn btn-danger btn-sm" type="button" (click)="dismissModal()">
    cancel
  </button>
</div>
