<div
  #myModal
  class="modal fade"
  [id]="modalName"
  tabindex="-1"
  aria-labelledby="deleteTodoConfirmationLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="deleteTodoConfirmationLabel">
          Delete Todo
        </h1>
      </div>
      <div class="modal-body">
        Do you want to delete?
        <div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
              (click)="confirm(false)"
            >
              No
            </button>
            <button
              type="button"
              data-bs-dismiss="modal"
              class="btn btn-primary"
              (click)="confirm(true)"
            >
              Yes
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
