.input-row-d {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}
form {
  display: flex;
  border: 1px solid black;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.scroll {
  overflow-y: auto;
  max-height: 600px;
}
.table {
  width: 1500px;
  margin: auto;
  text-align: center;
}

.pointer {
  cursor: pointer;
}
