<div class="spinner-border" role="status" *ngIf="isLoading">
  <span class="visually-hidden">Loading...</span>
</div>
<div class="card" style="width: 500px" *ngIf="!isLoading">
  <div class="card-body">
    <h5 class="card-title text-center">Profile</h5>
    <div
      class="update-profile-form"
      [tabIndex]="0"
      appClickedEnter
      (clickedEnter)="onClickEnter()"
    >
      <form [formGroup]="updateProfileForm" (submit)="onSubmit()">
        <div class="form-group">
          <label for="email">Email address</label>
          <input
            type="email"
            autofocus
            [class]="validProperty('email')"
            id="email"
            aria-describedby="emailHelp"
            formControlName="email"
            placeholder="Enter email"
          />
          <div class="invalid-feedback">{{ this.displayFeedback.email }}</div>
        </div>
        <div class="form-group">
          <label for="name">Name</label>
          <input
            type="text"
            formControlName="name"
            [class]="validProperty('name')"
            id="name"
            placeholder="name"
          />
          <div class="invalid-feedback">
            {{ this.displayFeedback.name }}
          </div>
        </div>

        <div class="form-group">
          <label for="phone">Phone</label>
          <input
            type="text"
            formControlName="phone"
            [class]="validProperty('phone')"
            id="phone"
            placeholder="phone"
          />
          <div class="invalid-feedback">
            {{ this.displayFeedback["phone"] }}
          </div>
        </div>

        <div class="form-group">
          <label for="address">Address</label>
          <input
            type="text"
            formControlName="address"
            [class]="validProperty('address')"
            id="address"
            placeholder="address"
          />
          <div class="invalid-feedback">
            {{ this.displayFeedback.address }}
          </div>
        </div>

        <div
          class="d-flex justify-content-between container-fuild align-items-center"
        >
          <div class="form-group">
            <label for="city">City</label>
            <input
              type="text"
              formControlName="city"
              [class]="validProperty('city')"
              id="city"
              placeholder="city"
            />
            <div class="invalid-feedback">
              {{ this.displayFeedback.city }}
            </div>
          </div>

          <div class="form-group">
            <label for="country">Country</label>
            <input
              type="text"
              formControlName="country"
              [class]="validProperty('country')"
              id="country"
              placeholder="country"
            />
            <div class="invalid-feedback">
              {{ this.displayFeedback.country }}
            </div>
          </div>
        </div>
        <div class="button-container">
          <app-submit-spinner
            *ngIf="updatingProfile"
            [isSubmitLoading]="isSubmitLoading"
          ></app-submit-spinner>
          <button
            *ngIf="!updatingProfile"
            [type]="'button'"
            class="btn btn-primary"
            (click)="edit()"
          >
            edit
          </button>
        </div>
        <div [classList]="cardBodyHeader.join(' ')">
          <button
            class="btn btn-primary btn-sm edit-button"
            type="button"
            (click)="reset()"
          >
            reset
          </button>
          <button
            class="btn btn-primary btn-sm"
            type="button"
            (click)="cancel()"
          >
            cancel
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
