.card {
  width: 500px;
  text-align: center;
}

.card a {
  text-decoration-line: none;
}

.card-body-header {
  position: sticky;
  top: 40px;
  background: inherit;
  width: 100%;
  background: white;
  height: 40px;
}
.edit-button {
  position: absolute;
  right: 0px;
  top: 0px;
}
.card-see-more {
  cursor: pointer;
  color: blue;
  margin: 2px;
}

.card-see-more:hover {
  color: darkblue;
}
