<ng-container>
  <th scope="row">{{ sno }}</th>
  <td class="employee-title">{{ employee.name }}</td>
  <td class="employee-description">
    {{ employee.departmentName }}
  </td>
  <td class="employee-isCompeleted">{{ employee.email }}</td>
  <td class="employee-assignedTo">{{ employee.phone }}</td>
  <td>{{ employee.address }}</td>
  <td>{{ employee.city }}</td>
  <td>{{ employee.country }}</td>
  <td>
    <div
      class="d-flex justify-content-around container-fuild align-items-center"
    >
      <i
        appHighlight
        (highlight)="onHightlight('delete', $event)"
        [class]="
          highlight.delete ? ICONS.deleteFilled.class : ICONS.delete.class
        "
        (click)="delete()"
        data-bs-toggle="modal"
        data-bs-target="#deleteConfirmation"
        [ngbTooltip]="ICONS.delete.toolTip"
        [openDelay]="ICONS.delete.openDelay"
        [closeDelay]="ICONS.delete.closeDelay"
      >
      </i>
      <i
        *ngIf="false"
        appHighlight
        (highlight)="onHightlight('eye', $event)"
        [class]="highlight.eye ? ICONS.eyeFilled.class : ICONS.eye.class"
        (click)="onViewEmployeeByDepartment()"
        [ngbTooltip]="'View Todos'"
        [openDelay]="ICONS.eye.openDelay"
        [closeDelay]="ICONS.eye.closeDelay"
      >
      </i>
      <i
        *ngIf="employee.employeeType === EMPLOYEE_TYPE.employee"
        [class]="ICONS.assignTask.class"
        (click)="assinTask()"
        [ngbTooltip]="ICONS.assignTask.toolTip"
        [openDelay]="ICONS.assignTask.openDelay"
        [closeDelay]="ICONS.assignTask.closeDelay"
      >
      </i>

      <i
        [class]="ICONS.chatWith.class"
        (click)="onChatWith()"
        [ngbTooltip]="ICONS.chatWith.toolTip"
        [openDelay]="ICONS.chatWith.openDelay"
        [closeDelay]="ICONS.chatWith.closeDelay"
      >
      </i>
    </div>
  </td>
</ng-container>
