<div class="d-flex justify-content-center align-items-center">
  <div class="input-group mb-3">
    <label class="input-group-text" for="selectPageCount">Page Length</label>
    <select
      class="form-select"
      id="selectPageCount"
      [(ngModel)]="selectedPaginatedSize"
      (ngModelChange)="onSelectedPaginatedSizeChange()"
    >
      <option
        *ngFor="let paginatedSize of paginatedSizes"
        [value]="paginatedSize"
      >
        {{ paginatedSize }}
      </option>
    </select>
  </div>
</div>

<nav aria-label="todo-list-pagination">
  <ul class="pagination">
    <li [class]="leftDisabled ? 'page-item disabled' : 'page-item'">
      <a
        class="page-link pointer"
        aria-label="Previous"
        (click)="onPrev($event)"
      >
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li *ngFor="let page of pages" class="page-item">
      <a
        [class]="
          selectedPage === page
            ? 'page-link pointer active'
            : 'page-link pointer'
        "
        (click)="onSelectPage($event, page)"
      >
        {{ page }}
      </a>
    </li>
    <li [class]="rightDisabled ? 'page-item disabled' : 'page-item'">
      <a class="page-link pointer" aria-label="Next" (click)="onNext($event)">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
