<div class="d-flex justify-content-between align-items-center">
  <div class="input-group mb-3">
    <label class="input-group-text" for="selectPageCount">Page Length</label>
    <select
      class="form-select"
      id="selectPageCount"
      [(ngModel)]="selectedPageSize"
      (ngModelChange)="onSelectedPageLengthChange()"
    >
      <option
        *ngFor="let paginatedSize of paginatedSizes"
        [value]="paginatedSize"
      >
        {{ paginatedSize }}
      </option>
    </select>
  </div>
</div>

<div class="d-flex justify-content-center align-items-center flex-column">
  <div class="d-flex justify-content-between align-items-center">
    <div class="input-group mb-3">
      <button class="btn btn-primary" (click)="onSearch()">Search</button>
      <input
        type="text"
        class="form-control"
        placeholder="Username"
        aria-label="Username"
        aria-describedby="basic-addon1"
        [(ngModel)]="searchBox"
        [placeholder]="placeholder"
        (keydown)="onSearch($event)"
      />
    </div>
  </div>
</div>
<button class="btn btn-primary btn-sm" (click)="assignTo()">Assign Task</button>
