<app-todo-pagination
  [page]="pageState.index"
  (selectedPage)="onPageChange($event)"
  [totalPagesCount]="totalPagesCount"
></app-todo-pagination>

<div class="d-flex justify-content-center align-items-center flex-column">
  <h6>Search Use Column</h6>
  <div class="d-flex justify-content-between align-items-center">
    <div class="input-group mb-3">
      <label class="input-group-text" for="selectColumnName">Columns</label>
      <select
        class="form-select"
        id="selectColumnName"
        [(ngModel)]="selectedOption"
        (ngModelChange)="onSelectionChange()"
      >
        <option [value]="null">Choose...</option>
        <option *ngFor="let col of searchByCols" [value]="col.name">
          {{ col.name | uppercase }}
        </option>
      </select>
    </div>
    <div class="input-group mb-3">
      <input
        type="text"
        class="form-control"
        placeholder="Username"
        aria-label="Username"
        aria-describedby="basic-addon1"
        [(ngModel)]="searchBox"
        (input)="onSearchBoxChange()"
        [placeholder]="searchBox"
        [disabled]="isSearchBoxDisabled"
      />
    </div>
  </div>
</div>
<button class="btn btn-primary btn-sm" (click)="assignTo()">Assign Task</button>
<!-- </div> -->
