<div class="modal-header">
  <h4 class="modal-title text-center" id="modal-basic-title">
    {{ update ? "Todo update" : "Todo create" }}
  </h4>
</div>
<div class="modal-body">
  <app-upsert-todo
    [updateForm]="update"
    (updated)="closeModal()"
    [id]="id"
  ></app-upsert-todo>
</div>
<div class="modal-footer">
  <button class="btn btn-primary btn-sm" (click)="onReset()" *ngIf="update">
    reset
  </button>
  <button class="btn btn-danger btn-sm" type="button" (click)="dismissModal()">
    cancel
  </button>
</div>
