<th scope="row" class="pointer">{{ sNo }}</th>
<td class="pointer">
  <p
    placement="top"
    ngbTooltip="group employees by department"
    [openDelay]="300"
  >
    {{ department.name }}
  </p>
</td>
<td>
  <div
    class="d-flex justify-content-between container-fuild align-items-center"
  >
    <button class="btn btn-sm btn-warning" (click)="update(department.id)">
      update
    </button>
    <button
      data-bs-toggle="modal"
      data-bs-target="#deleteConfirmation"
      class="btn btn-danger btn-sm"
      (click)="delete(department.id)"
    >
      delete
    </button>
  </div>
</td>
