<th scope="row" class="pointer">{{ sNo }}</th>
<td class="pointer">
  <p
    placement="top"
    ngbTooltip="group employees by department"
    [openDelay]="300"
  >
    {{ department.name }}
  </p>
</td>
<td *ngIf="allowedToView([USER_ROLES.SuperAdmin], userType)">
  <div
    class="d-flex justify-content-between container-fuild align-items-center"
  >
    <i
      appHighlight
      (highlight)="onHighlight('edit', $event)"
      [class]="highlight.edit ? ICONS.editFilled : ICONS.edit"
      (click)="update(department.id)"
    >
    </i>
    <i
      data-bs-toggle="modal"
      data-bs-target="#deleteConfirmation"
      appHighlight
      (highlight)="onHighlight('delete', $event)"
      [class]="highlight.delete ? ICONS.deleteFilled : ICONS.delete"
      (click)="delete(department.id)"
    >
    </i>
  </div>
</td>
