<th scope="row" class="pointer">{{ sNo }}</th>
<td class="pointer">
  <p
    placement="top"
    ngbTooltip="group employees by department"
    [openDelay]="300"
  >
    {{ department.departmentName }}
  </p>
</td>
<td>{{ department.employeesCount }}</td>
<td *ngIf="allowedToView([UserRole.SuperAdmin], userType)">
  <div
    class="d-flex justify-content-between container-fuild align-items-center"
  >
    <i
      appHighlight
      (highlight)="onHighlight('edit', $event)"
      [class]="highlight.edit ? ICONS.editFilled.class : ICONS.edit.class"
      (click)="update(department.id)"
      [ngbTooltip]="ICONS.edit.toolTip"
      [openDelay]="ICONS.edit.openDelay"
      [closeDelay]="ICONS.edit.closeDelay"
    >
    </i>
    <i
      data-bs-toggle="modal"
      data-bs-target="#deleteConfirmation"
      appHighlight
      (highlight)="onHighlight('delete', $event)"
      [class]="highlight.delete ? ICONS.deleteFilled.class : ICONS.delete.class"
      (click)="delete(department.id)"
      ngbTooltip="edit"
      [openDelay]="ICONS.edit.openDelay"
      [closeDelay]="ICONS.edit.closeDelay"
    >
    </i>
  </div>
</td>
