<div class="d-flex justify-content-center container-fuild">
  <app-spinner *ngIf="isLoading"></app-spinner>
</div>
<div
  class="card"
  *ngIf="!isLoading"
  [tabIndex]="0"
  appClickedEnter
  (clickedEnter)="onClickedEnter()"
>
  <div class="card-body">
    <h5 class="card-title text-center" *ngIf="displayTitle">
      {{ updateForm ? "Update Todo" : "Create Todo" }}
    </h5>
    <div class="todo-form">
      <form [formGroup]="todoForm" (submit)="checkSubmit()">
        <div class="form-group">
          <label for="title">Title</label>
          <input
            type="text"
            formControlName="title"
            autoFocus
            [class]="validProperty('title')"
            id="title"
            placeholder="Enter title"
          />
          <div class="invalid-feedback">
            {{ this.displayFeedback.title }}
          </div>

          <label for="description">Description</label>
          <textarea
            formControlName="description"
            [class]="validProperty('description')"
            id="description"
            placeholder="Enter description"
          ></textarea>
          <div class="invalid-feedback">
            {{ this.displayFeedback.description }}
          </div>
          <label for="employeeID">Assign To</label>
          <select
            [class]="validProperty('employeeId')"
            id="employeeID"
            formControlName="employeeId"
            aria-label="Default select example"
          >
            <option [value]="null">Select Employee</option>
            <option *ngFor="let employee of employees" [value]="employee.id">
              {{ employee.email }}
            </option>
          </select>
          <div class="invalid-feedback">
            {{ this.displayFeedback.employeeId }}
          </div>
        </div>

        <div
          class="d-flex justify-content-around align-items-center flex-row container-fluid"
        >
          <div class="form-group">
            <label for="date">Deadline date</label>
            <input
              type="date"
              formControlName="deadlineDate"
              autoFocus
              [class]="validProperty('deadlineDate')"
              id="date"
              placeholder="DD/MM/YYYY"
            />
            <div class="invalid-feedback">
              {{ this.displayFeedback.deadlineDate }}
            </div>
          </div>

          <div class="form-group">
            <label for="date">Deadline time</label>
            <input
              type="time"
              formControlName="deadlineTime"
              autoFocus
              [class]="validProperty('deadlineTime')"
              id="date"
              placeholder="time"
            />
            <div class="invalid-feedback">
              {{ this.displayFeedback.deadlineTime }}
            </div>
          </div>
        </div>

        <div
          class="d-flex justify-content-center align-items container-fuild submit"
        >
          <app-submit-spinner
            [isSubmitLoading]="isSubmitLoading"
          ></app-submit-spinner>
        </div>
      </form>
    </div>
  </div>
</div>
